<div class="container" ng-if="gotctrl.netdata_characters">
    <div style="margin-bottom:20px;margin-top:20px;">
      <div class="form-group row">

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" ng-model="charactername" class="form-control" placeholder="Sort by Character"></input><br>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-md-12 animated bounceInUp">
      <div class="stlying_div stlying_div2" ng-repeat="y in gotctrl.netdata_characters|orderBy:'aliases[0]'|filter:charactername" >
          <a class="styling_link font_change" href="#character/{{gotctrl.netdata_characters.indexOf(y)}}">{{y.aliases[0]|changing_empty_space_to_Unknown}}</a>
    </div>

    </div>
    </div>

</div>
